/*------------ override bootstrap --------------*/
/*@font-face{
  font-family: 'FuturaBT';
  src: url('../fonts/FuturaBT-Book.woff2') format('woff2');
  src: url('../fonts/FuturaBT-Book.eot') format('eot');
}*/

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body{
  background-color: #e7e2ce;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
label{ font-weight: normal; }
label.has-error{ color: #eb3940!important; }
.main{ height: 100%; }
.container{
  min-height: 400px;
}

.blue-title{
  color: #005cb9;
}

.img-center{
  margin: auto;
}
.padding-lr-5{ padding-left: 5px; padding-right: 5px; }

.mekanisme-list li{
  margin-bottom: 10px;
}

.btnGabungan.has-error{
  border: 1px solid #eb3940!important;
}
.additionalBtnUpload{
  background: #e1e1e1;
  padding: 20px 20px;
  height: 100px;
  /*border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;*/
  text-align: left;
  cursor: pointer;
}
.additionalBtnUpload a{
  color: #777;
  font-size: 14px;
}
.additionalBtnUpload a:hover{ text-decoration: none;}
.additionalBtnUpload i{
  font-size: 20px;
  float: left;
  margin-right: 8px;
  color: #777;
  height: 100%;
}
.imgUploaded{ transition: 0.3s all; -webkit-transition: 0.3s all; }
.imgUploaded:hover{ opacity: 0.8; }

.has-error .form-control{
  border-color: #ed3140;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #ed3140;
}
.error-text{ color: #ed3140; font-size: 14px; font-weight: 300; }

footer{
  display: block;
  margin-top: 25px;
  height: 50px;
}

footer p small{ color: #888; font-size: 11px; }

label.label-image > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.label-image > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  opacity: 0.3;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.3s all;
}
label.label-image > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
}

.navbar-default{
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle {
    /*border-color: #f03b3b;*/
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/*.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  align-items: center;
  margin-top: 15px;
}*/
.navbar-toggle {
    z-index: 1;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 0;
}

.navbar-toggle .icon-bar{
  width: 25px;
  height: 3px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{ background-color: transparent; }

.navbar-brand{ float: right; padding: 0; }
.navbar-collapse{ padding-left: 0; padding-right: 0; }

.logo-pertamina{ max-height: 50px; }
.logo-bumn{ max-height: 30px; margin-top: 10px; margin-right: 15px; }

/* modal */
.modal-content{
  border-radius: 0;
  background-color: #e7e2ce;
  height: auto;
  min-height: 100%;
}

.modal-body {
    height: 80%;
}
.modal-header{ border-bottom: 0px; }
.modal-footer{ border-top: 0px; }

/* button */
.btn{ position: relative; padding: 9px 12px; }
.btn.triangle{ border: 0; border-radius: 0; margin-right: 15px; }
.btn.triangle:after {
  content: "";
  background-color: #005cb9;
  display: block;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  width: 17px;
  transform: skewX(-15deg);
}
.btn.triangle:before {
  content: "";
  background-color: #005cb9;
  display: block;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
  width: 17px;
  transform: skewX(-15deg);
}
.btn-primary{
  background-color: #005cb9;
}
.btn-primary:hover:before, .btn-primary:hover:after, .btn-primary:active.focus:before, .btn-primary:active.focus:after, .btn-primary:focus:before, .btn-primary:focus:after {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active:hover::before,
.btn-primary.active:hover::before,
.open > .dropdown-toggle.btn-primary:hover::before,
.btn-primary:active:focus::before,
.btn-primary.active:focus::before,
.open > .dropdown-toggle.btn-primary:focus::before,
.btn-primary:active.focus::before,
.btn-primary.active.focus::before,
.open > .dropdown-toggle.btn-primary.focus::before {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary:active:hover::after,
.btn-primary.active:hover::after,
.open > .dropdown-toggle.btn-primary:hover::after,
.btn-primary:active:focus::after,
.btn-primary.active:focus::after,
.open > .dropdown-toggle.btn-primary:focus::after,
.btn-primary:active.focus::after,
.btn-primary.active.focus::after,
.open > .dropdown-toggle.btn-primary.focus::after {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1050; /* Stay on top */
   top: 0;
   left: 0;
   background-color: #FFFFFF; /* white*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.15s;


}

/* The navigation menu links */
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 16px;
   color: #818181;
   display: block;
   transition: 0.15s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
   color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 10px;
   right: 20px;
   font-size: 16px;
   margin-left: 50px;
}

/* footer two */
ul.bottom-menu{
  position: relative;
  list-style: none;
  height: 30px;
  background-color: #ccc;
}
ul.bottom-menu li{
  float: left;
  margin-right: 25px;
  line-height: 32px;
}
ul.bottom-menu li a{
  font-size: 14px;
}
ul.bottom-menu li.li-img{
  float: right;
  position: absolute;
  right: -39px;
  top: -10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
   transition: margin-left .3s;
}

/* tabs */
.nav-tabs{ margin-bottom: 15px; }
.nav-tabs > li > a {
    padding: 5px 15px;
}
.nav-tabs > li > a > img{
  width: 85px;
  height: auto;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}
.nav-tabs {
    text-align:center;
    border-bottom: 0;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
    margin-right: 0;
    border-radius: 0;
    background-color: #ccc;
    color: #eee;
    border: none;
}

.nav-tabs > li {
    margin-right: 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #005cb9;
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs.tabs-img > li > a {
    padding: 0;
    opacity: 0.3;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.nav-tabs.tabs-img > li.active > a, .nav-tabs.nav-img > li.active > a:hover, .nav-tabs.nav-img > li.active > a:focus{
  background-color: transparent!important;
  opacity: 1;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.nav-tabs.tabs-img > li {
    margin-right: 5px;
}

.triangle:after {
  content: "";
  background-color: #ccc;
  display: block;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  width: 17px;
  transform: skewX(-15deg);
}
.triangle:before {
  content: "";
  background-color: #ccc;
  display: block;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
  width: 17px;
  transform: skewX(-15deg);
}
.active.triangle:after, .active.triangle:before{
  background-color: #005cb9;
}

.triangle-white:after {
  content: "";
  background-color: #ccc;
  display: block;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  width: 17px;
  transform: skewX(-15deg);
}
.triangle-white:before {
  content: "";
  background-color: #ccc;
  display: block;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
  width: 17px;
  transform: skewX(-15deg);
}

/* form control */
.form-control{ border-radius: 0; border: 1px solid transparent; -webkit-box-shadow: none; box-shadow: none; }

/*carousel */
/* Carousel */
span.flying-info{
  position: absolute;
  left: 30%;
  background: #e7e2ce;
  top: -15px;
  z-index: 1;
  padding: 4px 10px;
}
.quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 0;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
.quote-carousel .carousel-control {
    background: none;
    color: #333;
    text-shadow: none;
}
.quote-carousel .carousel-control i{
  font-size: 2.3em;
}
.quote-carousel .carousel-control.left {
    left: 10%;
    top: 20%;
}
.quote-carousel .carousel-control.right {
    right: 10%;
    top: 20%;
}
/*.quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
}
.quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
    border-radius: 0;
}
.quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 50px;
    height: 50px;
    opacity: 1;
    overflow: hidden;
}*/
.carousel-inner {
    min-height: 120px;
    padding: 0 20px 0 0;
}

.carousel-inner > .item h3{
  /*border: 5px solid blue;*/
  font-size: 48px;
  color: #005cb9;
  font-weight: bold;
  margin-left: 50%;
}

.carousel-inner > .item:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    border-top: 5px solid #005cb9;
    border-bottom: 5px solid #005cb9;
    border-right: 5px solid #005cb9;
    border-left: 5px solid #005cb9;

    transform-origin: bottom left;
    -ms-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
}

.carousel-inner > .item:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 3px;
    left: 0;
    z-index: -1;

    border-top: 4px solid #666;
    border-bottom: 3px solid #666;
    border-right: 8px solid #666;
    border-left: 8px solid #666;

    transform-origin: bottom left;
    -ms-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
}

.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

svg{ width: 100%; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1041;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (min-width: 240px) {
  span.title-top{ font-size: 22px }
  .logo-bumn{ margin-top: 15px; }
   span.flying-info{
     left: 25%;
     top: -35px;
     font-size: 12px;
     width: 180px;
   }
   .carousel-inner > .item h3{
     /*border: 5px solid blue;*/
     margin-left: 5%;
   }
   .brand-centered .navbar-brand {
     margin-right: 130px; padding: 0; max-width: 100px;
   }
   ul.bottom-menu{ height: 25px; }
   ul.bottom-menu li{ line-height: 25px; margin-right: 20px; }
   ul.bottom-menu li a{ font-size: 12px; line-height: 25px; }
   ul.bottom-menu li.li-img{
     width: 90px;
     top: -5px;
   }
}

@media screen and (min-width: 480px) {
  span.title-top{ font-size: 28px }
  .logo-bumn{ margin-top: 15px; }
   span.flying-info{
     left: 32%;
     top: -40px;
     font-size: 12px;
     width: 180px;
   }
   .carousel-inner > .item h3{
     margin-left: 0;
   }
   ul.bottom-menu{ height: 30px; }
   ul.bottom-menu li{ line-height: 25px; margin-right: 25px; }
   ul.bottom-menu li a{ font-size: 14px; line-height: 30px; }
   ul.bottom-menu li.li-img{
     width: 120px;
     top: -8px;
   }
}

@media screen and (min-width: 768px) {
  span.title-top{ font-size: 32px; }
  .logo-bumn{ margin-top: 10px; }
   span.flying-info{
      left: 40%;
      top: -15px;
      font-size: 12px;
      width: 180px;
   }
   .carousel-inner > .item h3{
     /*border: 5px solid blue;*/
     margin-left: 70%;
   }
   .brand-centered .navbar-brand {
     margin-right: 0px; padding: 0; max-width: 100px;
   }
   ul.bottom-menu{ height: 30px; }
   ul.bottom-menu li{ margin-right: 25px; line-height: 32px; }
   ul.bottom-menu li.li-img{
     right: -39px;
     top: -10px;
   }
}
